<script src="~/assets/js/countrystatecity.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0s1nT-6zDdQ79b8UiFdudNNI9kgzt8ms&libraries=drawing"></script>
<script type="text/javascript">
    var map; // Global declaration of the map
    var iw = new google.maps.InfoWindow(); // Global declaration of the infowindow
    var lat_longs = new Array();
    var markers = new Array();
    var drawingManager;

    function initialize() {
        var myLatlng = new google.maps.LatLng(40.9403762, -74.1318096);
        var myOptions = {
            zoom: 13,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("dvMap"), myOptions);
        drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.POLYGON,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [google.maps.drawing.OverlayType.POLYGON]
            },
            polygonOptions: {
                editable: true
            }
        });
        drawingManager.setMap(map);

        google.maps.event.addListener(drawingManager, "overlaycomplete", function (event) {
            var newShape = event.overlay;
            newShape.type = event.type;
        });

        google.maps.event.addListener(drawingManager, "overlaycomplete", function (event) {
            overlayClickListener(event.overlay);
            $('#vertices').val(event.overlay.getPath().getArray());
        });
    }

    function overlayClickListener(overlay) {
        google.maps.event.addListener(overlay, "mouseup", function (event) {
            $('#vertices').val(overlay.getPath().getArray());
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);


    function FindLocaiton() {
        geocoder = new google.maps.Geocoder();
        initialize();

        var address = document.getElementById("addressinput").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href="">Why do I have this issue?</a>'
                })
                alert("Geocode was not successful for the following reason: " + status);
            }
        });

    }
    function FindLocaitonDropDown(address) {
        geocoder = new google.maps.Geocoder();
        initialize();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

            }
            else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });

    }
    $(function () {
        $("#citySel").change(function () {
            var selectedText = $(this).find("option:selected").text();
            var selectedValue = $(this).val();
            FindLocaitonDropDown(selectedText);

        });
    });
    $(function () {
        $('#searchlocale').click(function () {
            FindLocaiton();
        });
    });
    $(function () {
        $('.alphaonly').keydown(function (e) {
            if (e.shiftKey || e.ctrlKey || e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            }
        });
    });
    $('#phone-no').keypress(function (e) {
        var arr = [];
        var kk = e.which;

        for (i = 48; i < 58; i++)
            arr.push(i);

        if (!(arr.indexOf(kk) >= 0))
            e.preventDefault();
    });
    $('#alt_phone-no').keypress(function (e) {
        var arr = [];
        var kk = e.which;

        for (i = 48; i < 58; i++)
            arr.push(i);

        if (!(arr.indexOf(kk) >= 0))
            e.preventDefault();
    });
    $("#phone-no").keydown(function (event) {
        // Allow only backspace and delete
        if (event.keyCode == 46 || event.keyCode == 8) {
            // let it happen, don't do anything
        }
        else {
            // Ensure that it is a number and stop the keypress
            if (event.keyCode < 48 || event.keyCode > 57) {
                event.preventDefault();
            }
        }
    });
    $('#farmname').keyup(function () {

        this.value = this.value.replace(/(?:^|\s)\w/g, function (match) {
            return match.toUpperCase();
        })

    });
    $(function () {

        var uniqueID = 'P-xxxx-4xxx-yxxx'.replace(/[xy]/g,
            function (c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            }).toUpperCase();
        $("#farmnumber").val(uniqueID);
    });
</script>
<div id="getloader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%;display: none; background-color: rgba(255,255,255,0.5); z-index: 30001;">
    <p style="position: absolute; color: White; top: 40%; left: 45%;">
        <img src="~/images/loader.gif" style="width:80% !important;">
    </p>
</div>

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Add New Farm</h3>
                            <div class="nk-block-des text-soft">
                                <p>Capture New Farm Details.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <form class="needs-validation" novalidate>
                            <div class="card-inner-group">
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Farm Details</h5>
                                            <p>Add common infomation like Farm Name, Size etc </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="full-name">Farm Name</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="farmname" placeholder="Farm Name" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Farm ID </label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="farmnumber" placeholder="Farm Number" required readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-2 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Country</label>
                                                    <div class="form-control-wrap">
                                                        <select id="countySel" size="1" class="form-select js-select2" data-placeholder="Select Country" required>
                                                            <option value="" selected="selected">-- Select Country --</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-2 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">State</label>
                                                    <div class="form-control-wrap">
                                                        <select id="stateSel" size="1" class="form-select js-select2" data-placeholder="State" required>
                                                            <option value="" selected="selected">-- Select State--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-2 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">City</label>
                                                    <div class="form-control-wrap">
                                                        <select id="citySel" size="1" class="form-select js-select2" data-placeholder="Select City" required>
                                                            <option value="" selected="selected">-- Select City--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-2 col-md-4" style="display: none;">
                                                <div class="form-group">
                                                    <label class="form-label">Nearest Region</label>
                                                    <div class="form-control-wrap">
                                                        <select id="zipSel" size="1" class="form-select js-select2" data-placeholder="Select Region" style="font-family: montserrat !important;">
                                                            <option value="" selected="selected">-- Select Zip--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="phone-no">Phone Number</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="phone-no" placeholder="Phone no" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="email">Email</label>
                                                    <div class="form-control-wrap">
                                                        <input type="email" class="form-control" id="email" placeholder="Email" pattern="^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-2 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="email">Other Number</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="alt-phone-no" placeholder="Alternate Phone Number">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-2 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Adddress</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="address" placeholder="Address" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-1 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Size of Farm</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="sizeofland" placeholder="Size" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-1 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">UoM</label>
                                                    <div class="form-control-wrap">
                                                        <select class="form-select js-select2" id="uom" data-placeholder="Select" required>
                                                            <option value="option_select_department">Acres</option>
                                                            <option value="option_select_department">Hectares</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                        </div>
                                        <!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Farm Manager Details</h5>
                                            <p>Some common information about farm manager. </p>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row gy-4">
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">First</label>
                                                    <input type="text" class="form-control" id="fname_manager" placeholder="First Name" required>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Middle Name</label>
                                                    <input type="text" class="form-control" id="mname_manager" placeholder="Middle Name" required>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Last Name</label>
                                                    <input type="text" class="form-control" id="lname_manager" placeholder="Last Name" required>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Phone Number</label>
                                                    <input type="text" class="form-control" id="phone_manager" placeholder="Phone Number" required>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Email Address</label>
                                                    <input type="text" class="form-control" id="email_manager" placeholder="Email Address" required>
                                                </div>
                                            </div>
                                            <!--col-->
                                            <div class="col-xxl-3 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Alternative Phone Number</label>
                                                    <input type="text" class="form-control" id="manager_alt_phone-no" placeholder="Alternate Phone Number">
                                                </div>
                                            </div>
                                            <!--col-->
                                        </div>
                                        <!--row-->
                                    </div>
                                </div><!-- .card-inner -->
                                <div class="card-inner">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="title nk-block-title">Other Details</h5>
                                            <p>Details information about patient current medical condition. </p>
                                        </div>
                                    </div>
                                    <div class="row g-gs">
                                        <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div id="dvMap" style="width: 100%; height: 400px; margin-bottom:1%;"></div>
                                                </div>
                                            </div><!-- .card -->
                                        </div>
                                        <div class="col-xxl-6">
                                            <div class="card card-bordered h-100">
                                                <div class="card-inner">
                                                    <div class="nk-block">
                                                        <div class="row gy-4">
                                                            <div class="col-xxl-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">Branding Tatoo Prefix</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control" id="tatoo_pref" placeholder="Prefix" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-xxl-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">Branding Tatoo Length</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control" id="tatoo_length" placeholder="Length" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xxl-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">Farm Coordinates</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control" id="vertices" readonly required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <div class="col-xxl-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">Storage Bin Section</label>
                                                                    <div class="form-control-wrap">
                                                                        <select class="form-select js-select2" id="storage_bin" data-placeholder="Select" required>
                                                                            <option value="">Select</option>
                                                                            <option value="option_select_department">Allergy and immunology</option>

                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                            <!--col-->
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <button type="submit" style="float:right;" class="btn btn-primary">Add New Farm</button>
                                                                </div>
                                                            </div>
                                                            <!--col-->
                                                        </div>
                                                        <!--row-->
                                                    </div>
                                                </div>
                                            </div><!-- .card -->
                                        </div>
                                    </div>
                                </div><!-- .card-inner -->
                            </div>
                        </form>
                        <script>
                            // Example starter JavaScript for disabling form submissions if there are invalid fields
                            (function () {
                                'use strict';
                                window.addEventListener('load', function () {
                                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                    var forms = document.getElementsByClassName('needs-validation');
                                    // Loop over them and prevent submission
                                    var validation = Array.prototype.filter.call(forms, function (form) {
                                        form.addEventListener('submit', function (event) {
                                            if (form.checkValidity() === false) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            if (form.checkValidity() === true) {
                                                event.preventDefault();
                                                $(document).ready(function () {
                                                    $("#getloader").css("display", "inline-block");
                                                    var fdata = new FormData();
                                                    fdata.append("FarmName", $('#farmname').val());
                                                    fdata.append("MainFarmId", $('#farmnumber').val());
                                                    fdata.append("FarmId", $('#farmnumber').val());
                                                    fdata.append("FarmCountry", $('#countySel').find(":selected").text());
                                                    fdata.append("FarmCounty", $('#stateSel').find(":selected").text());
                                                    fdata.append("FarmTown", $('#citySel').find(":selected").text());
                                                    fdata.append("FarmTelephone", $('#phone-no').val());
                                                    fdata.append("FarmEmail", $('#email').val());
                                                    fdata.append("FarmAddress", $('#alt-phone-no').val());
                                                    fdata.append("FarmLocation", $('#address').val());
                                                    fdata.append("ManagerFirstName", $('#fname_manager').val());
                                                    fdata.append("ManagerMiddleName", $('#mname_manager').val());
                                                    fdata.append("ManagerLastName", $('#lname_manager').val());
                                                    fdata.append("ManagerPhoneNumber", $('#phone_manager').val());
                                                    fdata.append("ManagerEmailAddress", $('#email_manager').val());
                                                    fdata.append("AtlPhone", $('#manager_alt_phone-no').val());
                                                    fdata.append("FarmAddress", $('#manager_alt_phone-no').val());
                                                    fdata.append("TatooPrefix", $('#tatoo_pref').val());
                                                    fdata.append("TatooLength", $('#tatoo_length').val());
                                                    fdata.append("GeoTag", $('#vertices').val());
                                                    fdata.append("Size", $('#sizeofland').val());
                                                    fdata.append("FarmStore", $('#storage_bin').find(":selected").text());
                                                    fdata.append("FarmStore", $('#storage_bin').find(":selected").text());
                                                    fdata.append("UoM", $('#uom').find(":selected").text());
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "@Url.Content("~")/farmmanagement/registerfarm",
                                                        beforeSend: function (xhr) {
                                                            xhr.setRequestHeader("XSRF-TOKEN",
                                                                $('input:hidden[name="__RequestVerificationToken"]').val());
                                                        },
                                                        data: fdata,
                                                        contentType: false,
                                                        processData: false,
                                                        success: function (response) {
                                                            $("#getloader").css("display", "none");
                                                            if (response == true) {
                                                                Swal.fire({
                                                                    type: 'success', customClass: 'swal-wide',
                                                                    title: 'Saved',
                                                                    text: 'Record Saved!',
                                                                    footer: '<p>Farm Added Successfully</p>'
                                                                })
                                                                window.location.href = "~/farmmanagement/managefarms";
                                                            }
                                                            else {
                                                                Swal.fire({
                                                                    type: 'error',
                                                                    title: 'Failed', customClass: 'swal-wide',
                                                                    text: 'Record Not Saved!',
                                                                    footer: '<p>This Record Was Not Added. Contact Support</p>'
                                                                })
                                                                window.location.href = "~/farmmanagement/managefarms";
                                                            }
                                                        }
                                                    });
                                                });
                                            }
                                            form.classList.add('was-validated');
                                        }, false);
                                    });
                                }, false);
                            })();
                        </script>
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/intlTelInput.js"></script>
<script>

    var input = document.querySelector("#phone-no");
    var iti = window.intlTelInput(input, {
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: "off",
        // dropdownContainer: document.body,
        // excludeCountries: ["us"],
        // formatOnDisplay: false,
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // hiddenInput: "full_number",
         initialCountry: "auto",
        // localizedCountries: { 'de': 'Deutschland' },
        // nationalMode: false,
        onlyCountries: ['ci', 'gh', 'ke'],
        // placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
        // separateDialCode: true,
        utilsScript: "~/assets/build/js/utils.js",
    });
    $('#btnSubmit').on('click', function () {
        $("#firstname_key").val(iti.getSelectedCountryData().dialCode);
    });


</script>